body {
    background-color: #f0f0f0; /* 背景色の設定 */
    background-image: url('imgs.png'); /* 背景画像の設定 */
    background-size: cover; /* 画像が画面全体にフィットするようにする */
    background-repeat: no-repeat; /* 画像を繰り返さない */
}

.stock-market {
    background-color: rgba(255, 255, 255, 0.9); /* 半透明の白色 */
    padding: 5px; /* パディングを追加 */
    border-radius: 10px; /* 角を丸める */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 影を追加 */
    margin: 5px 0; /* 上下の余白 */
    text-align: center; /* テキストを中央に寄せる */
}

#gameLog {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    height: 280px;
    overflow-y: auto;
    background-color: rgba(255, 255, 255, 0.9); /* 半透明の白色 */
    border-radius: 5px; /* 角の丸み */
}


#circle {
    width: 150px;
    height: 150px;
    background-color: gold; /* サークルの背景色 */
    border-radius: 50%;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 5px solid black; /* 黒い線を追加 */
}

#circle:hover {
    background-color: darkgoldenrod; /* ホバー時の背景色 */
}

#circle:active {
    transform: translate(-50%, -50%) scale(0.85); /* アクティブ時の変形 */
}

.money-container {
    text-align: center; /* テキストを中央揃えにする */
    font-size: 24px; /* フォントサイズを大きくする */
    color: #4CAF50; /* テキストの色を緑にする */
    margin-top: 20px; /* 上部の余白を追加 */
    font-weight: bold; /* フォントを太字にする */
    background-color: rgba(255, 255, 255, 0.9); /* 半透明の白色 */
    padding: 10px; /* パディングを追加 */
    border-radius: 5px; /* 角を丸める */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* 影を追加 */

    /* 以下を追加 */
    position: fixed; /* 位置を固定 */
    top: 10%; /* 上から50%の位置 */
    left: 50%; /* 左から50%の位置 */
    transform: translate(-50%, -50%); /* 中央に正確に配置 */
}


.center-container {
    display: flex;        /* Flexboxを使用 */
    justify-content: center;  /* 水平方向の中央揃え */
    align-items: center;      /* 垂直方向の中央揃え */
    height: auto;       /* コンテナの高さをビューポートの高さに合わせる */
}

.game-info {
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9); /* 半透明の白色 */
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 5px;  /* 角の丸み */
    width: 100%; /* 幅を調整して、左側にどの程度のスペースを取るか決定 */
    
}

.left-side {
    float: left;
    width: 30%; /* 必要に応じて調整 */
}

#season-info, #weather-info {
    margin: 5px 0;
}

.right-side {
    width: 30%;
    margin-left: auto;  /* 左側の余白を自動で調整し、右寄せにする */
    margin-right: 20px;   /* 右側の余白をなくす */
}

#specific-container {
    background-color: rgba(255, 255, 255, 0.9); /* 半透明の白色 */
    border-radius: 5px;  /* 角の丸み */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* 影を追加 */
    margin-bottom: 15px; /* 各アイテム間の余白 */
    padding: 10px;       /* 内側の余白 */
    height: 450px;
    overflow:auto;
}


.right-side div {
    background-color: #ffffff;  /* 各アイテムの背景色 */
    border-radius: 5px;  /* 角の丸み */
}

.right-side button {
    background-color: #4CAF50;   /* 背景色 */
    color: white;                 /* テキスト色 */
    padding: 10px 20px;           /* 内側の余白 */
    border: none;                 /* ボーダーなし */
    border-radius: 5px;           /* 角の丸み */
    font-size: 16px;              /* フォントサイズ */
    cursor: pointer;              /* カーソルスタイル */
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); /* 影を追加 */
    width: 100%;                  /* ボタンの幅を親要素に合わせる */
    margin-bottom: 10px;          /* 下部の外側余白 */
}

.right-side button:hover {
    background-color: #45a049;  /* ホバー時の背景色 */
}

/* スマートフォン向けのスタイル（画面幅が600px以下の場合） */
@media (max-width: 600px) {
    .left-side, .right-side {
        float: none;
        width: 100%; /* 幅を100%に設定して、縦並びにする */
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 20px; /* 下部の余白を追加 */
    }

    .money-container, .game-info, #specific-container {
        position: relative; /* 固定位置を解除し、通常のフローに戻す */
        top: auto;
        left: auto;
        transform: translate(0, 0);
        margin-bottom: 20px; /* 下部の余白を追加 */
    }

    #circle {
        width: 110px; /* 幅をさらに小さく設定 */
        height: 110px; /* 高さをさらに小さく設定 */
        top: 40%; /* 位置を下に移動 */
        /* 他のスタイルはそのままにする */
    }

    #circle:active {
        transform: translate(-50%, -50%) scale(0.85); /* サイズを縮小 */
        background-color: darkgoldenrod; /* 色を変更 */
        /* 他にもトランスフォームを追加して動きを加えることができます */
    }

    .center-container {
        display: flex; /* Flexbox レイアウトを使用 */
        justify-content: center; /* 水平方向の中心に配置 */
        align-items: center; /* 垂直方向の中心に配置 */
        flex-wrap: wrap; /* 必要に応じて子要素を折り返し */
    }
    
    

    .game-info {
        display: flex; /* Flexboxを有効化 */
        align-items: center; /* 要素を垂直方向の中央に揃える */
        justify-content: space-around; /* 要素間に均等なスペースを設置 */
        padding: 5px;
        background-color: rgba(255, 255, 255, 0.9);
        border: 1px solid #ccc;
        margin-bottom: 10px;
        border-radius: 5px;
        width: 100%;
        font-size: 12px; /* テキストサイズを小さく設定 */
    }
    
    #gameLog {
        height: 100px; /* 高さを短く設定 */
        margin-top: 200px; /* 上部のマージンを増やして下に移動 */
        margin-bottom: 20px; /* 下部のマージンを追加 */
    }

    #specific-container {
        height: 200px;
        margin-top: 40px; /* 上部のマージンを増やす */
        margin-bottom: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
        padding: 10px;
    }
    

    /* その他の要素に対しても必要に応じてマージンを設定 */
}
