#circle {
    width: 150px;  /* サイズを大きくする */
    height: 150px;  /* サイズを大きくする */
    background-color: gold;
    border-radius: 50%;
    margin: 20px auto;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;

    /* 画面中央に表示 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#circle:hover {
    background-color: darkgoldenrod;
}

#circle:active {
    transform: translate(-50%, -50%) scale(0.85);  /* 中央配置の変換とスケーリングを組み合わせる */
}

.money-container {
    text-align: center;  /* テキストを中央揃えにする */
    font-size: 24px;     /* フォントサイズを大きくする */
    color: #4CAF50;      /* テキストの色を緑にする */
    margin-top: 20px;    /* 上部の余白を追加 */
    font-weight: bold;   /* フォントを太字にする */
    background-color: #f2f2f2;  /* 背景色を設定 */
    padding: 10px;       /* パディングを追加 */
    border-radius: 5px;  /* 角を丸める */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);  /* 影を追加 */
}

.center-container {
    display: flex;        /* Flexboxを使用 */
    justify-content: center;  /* 水平方向の中央揃え */
    align-items: center;      /* 垂直方向の中央揃え */
    height: auto;       /* コンテナの高さをビューポートの高さに合わせる */
}

.game-info {
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%; /* 幅を調整して、左側にどの程度のスペースを取るか決定 */
    
}

.left-side {
    float: left;
    width: 30%; /* 必要に応じて調整 */
}

#season-info, #weather-info {
    margin: 5px 0;
}

.right-side {
    width: 30%;
    margin-left: auto;  /* 左側の余白を自動で調整し、右寄せにする */
    margin-right: 20px;   /* 右側の余白をなくす */
}

#specific-container {
    background-color: #f8f8f8;  /* 背景色 */
    border-radius: 5px;  /* 角の丸み */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); /* 影を追加 */
    margin-bottom: 15px; /* 各アイテム間の余白 */
    padding: 10px;       /* 内側の余白 */
}


.right-side div {
    background-color: #ffffff;  /* 各アイテムの背景色 */
    border-radius: 5px;  /* 角の丸み */
}

.right-side button {
    background-color: #4CAF50;   /* 背景色 */
    color: white;                 /* テキスト色 */
    padding: 10px 20px;           /* 内側の余白 */
    border: none;                 /* ボーダーなし */
    border-radius: 5px;           /* 角の丸み */
    font-size: 16px;              /* フォントサイズ */
    cursor: pointer;              /* カーソルスタイル */
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3); /* 影を追加 */
    width: 100%;                  /* ボタンの幅を親要素に合わせる */
    margin-bottom: 10px;          /* 下部の外側余白 */
}

.right-side button:hover {
    background-color: #45a049;  /* ホバー時の背景色 */
}

